<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.torpedo.webservicemanager.dao.UserDAO">
	<resultMap type="User" id="result">
		<result property="id" column="id" />
		<result property="first_name" column="first_name" />
		<result property="last_name" column="last_name" />
		<result property="email" column="email" />
		<result property="gender" column="gender" />
		<result property="ip_address" column="ip_address" />
		<result property="date" column="date" />
	</resultMap>

	<select id="selectAll" resultMap="result">
		select * from user order by
		date DESC;
	</select>

	<select id="listCriteria" resultType="User">
		select * from user order by date DESC limit #{pageStart}, #{perPageNum};
	</select>

	<select id="countPaging" resultType="int">
		<![CDATA[select count(id) from user;]]>
	</select>

	<insert id="insert" parameterType="User">
		insert into user(first_name,last_name,email,gender,ip_address,date)
		values(#{first_name},#{last_name},#{email},#{gender},#{ip_address},DATE_FORMAT(now(),'%Y-%m-%d'));
	</insert>

	<update id="update" parameterType="User">
		update user set
		id=#{id},first_name=#{first_name},last_name=#{last_name},email=#{email},gender=#{gender},ip_address=#{ip_address},date=#{date}
		where id=#{id};
	</update>

	<delete id="delete" parameterType="String">
		delete from user where
		email=#{email};
	</delete>
</mapper>