<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz>
<head>
<!-- Main styles for this application-->
<link href="css/style.css" rel="stylesheet">
<link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<strong>유저 상세 조회</strong>
			</div>
			<div class="card-body">
				<form class="form-horizontal" action="" method="post">
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-id">아이디</label>
						<div class="col-md-9" th:text="${id}">아이디</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-firstName">이름</label>
						<div class="col-md-9" th:text="${firstName}">이름</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-lastName">성</label>
						<div class="col-md-9" th:text="${lastName}">성</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-email">이메일</label>
						<div class="col-md-9" th:text="${email}">이메일</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-gender">성별</label>
						<div class="col-md-9" th:text="${gender}">성별</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-ip">IP 주소</label>
						<div class="col-md-9" th:text="${ipAddress}">IP 주소</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<button class="btn btn-sm btn-primary" type="button">
					<i class="fa fa-dot-circle-o"></i> 수정
				</button>
				<button class="btn btn-sm btn-danger" type="button">
					<i class="fa fa-ban"></i> 삭제
				</button>
			</div>
		</div>
	</div>
</body>
</html>
