<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<link href="css/style.css" rel="stylesheet">
</head>
<body class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group">
					<div class="card p-4">
						<div class="card-body">
							<form id="loginForm" method="post" action="login">
								<h1>로그인</h1>
								<p class="text-muted">계정 정보를 입력해 주세요.</p>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="icon-user"></i>
										</span>
									</div>
									<input class="form-control" id="inputId" type="text" name="inputId"
										placeholder="아이디">
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i class="icon-lock"></i>
										</span>
									</div>
									<input class="form-control" id="passwd" type="password"
										name="passwd" placeholder="비밀번호">
								</div>
								<div class="row">
									<div class="col-6">
										<button class="btn btn-primary px-4" type="button"
											onclick="checkInput(inputId.value,passwd.value)">로그인</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function checkInput(id, passwd) {
		if (id == "") {
			alert("아이디를 입력하세요!")
			return false;
		} else if (passwd == "") {
			alert("비밀번호를 입력하세요!")
			return false;
		} else {
			document.getElementById("loginForm").submit();
		}
	}
</script>
</html>