<!DOCTYPE html>
<html>
<head>
<!-- Main styles for this application-->
<link href="css/style.css" rel="stylesheet">
<link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<strong>유저 수정</strong>
			</div>
			<div class="card-body">
				<form class="form-horizontal" action="" method="post">
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-id">아이디</label>
						<div class="col-md-9">
							<input class="form-control" id="hf-id" type="text" name="hf-id">
							<span class="help-block"></span>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-firstName">이름</label>
						<div class="col-md-9">
							<input class="form-control" id="hf-firstName" type="text"
								name="hf-firstName"> <span class="help-block"></span>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-lastName">성</label>
						<div class="col-md-9">
							<input class="form-control" id="hf-lastName" type="text"
								name="hf-lastName"> <span class="help-block"></span>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-email">Email</label>
						<div class="col-md-9">
							<input class="form-control" id="hf-email" type="email"
								name="hf-email"> <span class="help-block"></span>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-gender">성별</label>
						<div class="col-md-9">
							<input class="form-control" id="hf-gender" type="text"
								name="hf-gender"> <span class="help-block"></span>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="hf-ip">IP 주소</label>
						<div class="col-md-9">
							<input class="form-control" id="hf-ip" type="text" name="hf-ip">
							<span class="help-block"></span>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<button class="btn btn-sm btn-primary" type="submit">
					<i class="fa fa-dot-circle-o"></i> Submit
				</button>
				<button class="btn btn-sm btn-danger" type="reset">
					<i class="fa fa-ban"></i> Reset
				</button>
			</div>
		</div>
	</div>
</body>
</html>
